<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
		<link rel="stylesheet" href="index.css">
	</head>
	<body>
		<main>
			<h1>The best education and learning system ever</h1>
			<p>The first education and content management system that does look nice, is performant and it just works</p>
			<h2>Features:</h2>
		</main>
	</body>
</html>
